@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$body-bg: #333;
$white: #fff;
$light-grey: #ccc;
$grey: #999;
$dark-grey: #222;
$dark: #111;
$primary: #fff;
$secondary: #dc3545;
$padding: 10px;

$head-font: "Russo One", sans-serif;
$body-font: "Ubuntu", sans-serif;

body{
    background-color: $body-bg;
    font-family: $body-font; 
}

.btn{
    font-family: $head-font;
}

nav{
    font-family: $head-font; 
    .dropdown-menu{
        i{
            width: 20px;
        }
    }
}

.nav-margin{
    width: 100%;
    height: 55px;
}

h1,h2,h3,h4,h5{
    font-family: $head-font; 
    color: $primary;
}

section{
    width: 100%;
    height:auto;
    padding: 4*$padding;
}

.page-header{
    color: $white;
    text-shadow: #000 0 0 10px, #000 0 0 10px;
}

.page-header-admin{
    width: 100%;
    height: auto;
    margin: 5*$padding auto 0 auto;
    padding: $padding;
    background-color:$secondary;
    color:$primary;
    border-radius:$padding $padding 0 0;
    .page-header-admin-title{
        height: 36px;
        line-height: 36px;
        font-family: $head-font; 
        font-size:24px;
    }
}

.content-wrapper{
    width: 100%;
    min-height: 100vh;
}

.content{
    .container{
        color: $white;
        .post-content{
            background: linear-gradient($dark, $dark-grey 20%, $dark 40%);
            padding: $padding;
        }

        .post-filter{
            background: linear-gradient($dark, $dark-grey 20%, $dark 40%);
            padding: $padding;
            height: 100%;
        }
    }
}

.page-content-list{
    width: 100%;
    height:auto;
    margin: 0 0 2*$padding 0;
    color: $white;
    .image{
        height:250px;
    }
    .description{
        background: linear-gradient($dark, $dark-grey 20%, $dark 40%);
    }
}.page-content-list:last-child{
    margin: 0 0 0 0;
}

.content-admin{
    width: 100%;
    height: auto;
    padding: $padding $padding $padding $padding;
    background-color: $white;
    color: $body-bg;
    border-radius: 0 0 $padding $padding;
    h1,h2,h3,h4,h5{
        color: $body-bg;
    }

    .content-list{
        margin: 0 0 $padding 0;
    }.content-list:last-child{
        margin: 0;
    }
}

#home-carousel{
    height: 40vh;
    .carousel-inner{
        height: 40vh;
        .carousel-item{
            .carousel-image{
                height: 40vh;
            }
            .carousel-caption{
                text-shadow: #000 0 0 10px, #000 0 0 10px;
            }
        }
    }
}

.card{
    .card-header{
        font-family: $head-font; 
    }
}

.sortable_connected{
    min-height: 100px;
    width: 100%;
    li{
        font-family: $head-font;
        color:$white;
        cursor: pointer;
        text-shadow: #000 0 0 10px, #000 0 0 10px;
    }
}

.vertical-margin{
    width: 100%;
    height: 50px;
}

footer{
    .brand{
        font-family: $head-font; 
        cursor: pointer;
    }
}