@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Russo+One);@import url(https://fonts.googleapis.com/css?family=Ubuntu);body {
  background-color: #333;
  font-family: "Ubuntu", sans-serif;
}

.btn {
  font-family: "Russo One", sans-serif;
}

nav {
  font-family: "Russo One", sans-serif;
}

nav .dropdown-menu i {
  width: 20px;
}

.nav-margin {
  width: 100%;
  height: 55px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Russo One", sans-serif;
  color: #fff;
}

section {
  width: 100%;
  height: auto;
  padding: 40px;
}

.page-header {
  color: #fff;
  text-shadow: #000 0 0 10px, #000 0 0 10px;
}

.page-header-admin {
  width: 100%;
  height: auto;
  margin: 50px auto 0 auto;
  padding: 10px;
  background-color: #dc3545;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.page-header-admin .page-header-admin-title {
  height: 36px;
  line-height: 36px;
  font-family: "Russo One", sans-serif;
  font-size: 24px;
}

.content-wrapper {
  width: 100%;
  min-height: 100vh;
}

.content .container {
  color: #fff;
}

.content .container .post-content {
  background: -webkit-gradient(linear, left top, left bottom, from(#111), color-stop(20%, #222), color-stop(40%, #111));
  background: linear-gradient(#111, #222 20%, #111 40%);
  padding: 10px;
}

.content .container .post-filter {
  background: -webkit-gradient(linear, left top, left bottom, from(#111), color-stop(20%, #222), color-stop(40%, #111));
  background: linear-gradient(#111, #222 20%, #111 40%);
  padding: 10px;
  height: 100%;
}

.page-content-list {
  width: 100%;
  height: auto;
  margin: 0 0 20px 0;
  color: #fff;
}

.page-content-list .image {
  height: 250px;
}

.page-content-list .description {
  background: -webkit-gradient(linear, left top, left bottom, from(#111), color-stop(20%, #222), color-stop(40%, #111));
  background: linear-gradient(#111, #222 20%, #111 40%);
}

.page-content-list:last-child {
  margin: 0 0 0 0;
}

.content-admin {
  width: 100%;
  height: auto;
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  color: #333;
  border-radius: 0 0 10px 10px;
}

.content-admin h1,
.content-admin h2,
.content-admin h3,
.content-admin h4,
.content-admin h5 {
  color: #333;
}

.content-admin .content-list {
  margin: 0 0 10px 0;
}

.content-admin .content-list:last-child {
  margin: 0;
}

#home-carousel {
  height: 40vh;
}

#home-carousel .carousel-inner {
  height: 40vh;
}

#home-carousel .carousel-inner .carousel-item .carousel-image {
  height: 40vh;
}

#home-carousel .carousel-inner .carousel-item .carousel-caption {
  text-shadow: #000 0 0 10px, #000 0 0 10px;
}

.card .card-header {
  font-family: "Russo One", sans-serif;
}

.sortable_connected {
  min-height: 100px;
  width: 100%;
}

.sortable_connected li {
  font-family: "Russo One", sans-serif;
  color: #fff;
  cursor: pointer;
  text-shadow: #000 0 0 10px, #000 0 0 10px;
}

.vertical-margin {
  width: 100%;
  height: 50px;
}

footer .brand {
  font-family: "Russo One", sans-serif;
  cursor: pointer;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

